<h1>All Characters</h1>


<a href="/character/new">
    <button>Create Character</button>
</a>


<ul>
    {{#each allCharacters}}
    <a href="/character/{{_id}}">{{name}}
        <div>
            <img src="{{image}}" width="200px">
        </div>
    </a>
    {{/each}}
</ul>