<h1>All Characters</h1>


<a href="/character/new">
    <button class="createCharacterBtn">Create Character</button>
</a>
<button class="gameBtn"><a href="/game">Games</a></button>
<button class="publisherBtn"><a href="/publisher">Publishers</a></button>

<ul>
    {{#each allCharacters}}
    <a href="/character/{{_id}}">{{name}}
        <div>
            <img src="{{image}}" width="200px">
        </div>
    </a>
    {{/each}}
</ul>