<h1>Create Character</h1>

<form method="POST" action="/character/">

  <input type="text" value="" placeholder="name" name="name" />
  <input type="number" value="" placeholder="age" name="age" />
  <input type="text" value="" placeholder="description" name="description" />
  <input type="text" value="" placeholder="image" name="image" />

  <input type="submit" value="Create Character" />
</form>