<h1>All Video Game Publishers</h1>


<a href="/publisher/new">
    <button>Create Publisher</button>
</a>
<button><a href="/character">Characters</a></button>
<button><a href="/game">Games</a></button>


<ul>
    {{#each allPublishers}}
    <a href="/publisher/{{_id}}">{{name}}
        <div>
            <img src="{{logo}}" width="200px">
        </div>
    </a>
    {{/each}}
</ul>