<h1>Create Publisher</h1>

<form method="POST" action="/publisher/">

  <input type="text" value="" placeholder="name" name="name" />
  <input type="number" value="" placeholder="Year Established" name="yearEstablished" />
  <input type="text" value="" placeholder="country" name="country" />
  <input type="text" value="" placeholder="link to logo" name="logo" />

  <input type="submit" value="Create Publisher" />
</form>